{% extends 'base.html' %}
{% block content %} 
    <div class="container">
        <h2>Результат поиска по запросу: {{query}}</h2>
        {% if results %}
        <div class="row"> 
            {% for item in results %}
                <div class="col-lg-3 col-6">
                <div class="card">
                    <div class="imgBlock" style="height: 220px;">
                        <img style="height: 100%; object-fit: cover;" src="{{ item.image.url }}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title|truncatewords:8  }}</h5>
                        <p class="card-text">{{ item.description|truncatewords:10|safe }}</p>
                        <p class="card-text">Выпущено: {{ item.public_date }} | <b>Изменено: {{ item.update_date }}</b></p>
                        <a href="{% url 'single_news' item.slug %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div> 
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div> 
{% endblock content %}