{% extends 'base.html' %}
{% block content %}
    <!-- news -->
    <div class="container">
        <h2>Сотрудники нашей компании</h2>
        <div class="row">
            <!-- col -->
            {% for staff in staffs %}
            <div class="col-lg-3 col-6">
                <div class="card"> 
                    <div class="card-body">
                        {% if staff.image %}
                            <img class="img-thumbnail" src="{{staff.image.url}}" alt="">
                        {% else %}
                            <img class="img-thumbnail" src="https://i.pinimg.com/564x/4f/9b/61/4f9b611e72d038a4e8176709de0913d4.jpg" alt="">
                        {% endif %}
                        <h5 class="card-title">{{ staff.fullname  }}</h5>
                        <p class="card-text">{{ staff.age }}Лет | Стаж: {{staff.experience}}год</p> 
                        <p class="card-text">{{ staff.position }}</p> 
                        {% if staff.sociallink_set.all %}
                            {% for social in staff.sociallink_set.all %}
                                <a target="_blank" href="{{social.link}}">{{social.title}}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div> 
            </div>
            {% endfor %}
            <!-- col -->
        </div>
    </div>
    <!-- news -->
{% endblock content %}


    

    